body{
    font-family: 'Montserrat', sans-serif;
}


h1{
    color: #E20000;
    font-size: 36px;
}


p{
    color: #6a6a6a;
    font-size: 16px;
}


input, textarea{
    border-radius: 15px !important;
}


nav .nav-link{
    color: #282828;
}


nav .active{
    border: #E20000 solid 1px;
    border-radius: 20px;
}


.btn{
    background-color: white;
    color: #370a6d;
    border-radius: 15px;
}


.btn:hover{
    background-color: #370a6d;
    color: white;
    border-radius: 15px;
}

#inicio footer, #inicio footer a {
    color: white;
    font-weight: 100,bold;
}

#contacto footer, #contacto footer a {
    color: white;
    font-weight: 100,bold;
}


#proyectos footer, #proyectos footer a{
    color: red;
    font-weight: 300,bold;
}

#proyectos footer .fa-linkedin-in{
    color: white;
    background-color: #ff4a49;
}

footer .fa-github{
    font-size: 50px;
    color: #ff4a49;
}


footer .fa-linkedin-in {
    color:#ff4a49;
    background-color: white;
    font-size: 40px;
    border: 0px;
    height: 54px;
    width: 52px;
    text-align: center;
    padding: 8px 0 0 0;
    border-radius: 60px;
    margin: 0 8px;
}


.fa-whatsapp{
    color: white;
    position: fixed;
    bottom: 0px;
    right: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #370a6d;
    font-size: 30px;
    padding: 16px 0 15px 0;
    width: 60px;
    text-align: center;
    
}


.fa-bars{
    padding: 10px;
    border-radius: 5px;
}


.navbar-toggler {
    color: #ff4a49;
    border: 1px solid #ff4a49;
}


.navbar-toggler:focus {
    box-shadow: none;
    background-color: #370a6d;
    color: white;
    border: 1px solid white;
}


#inicio{
    background-image: url("../images/fondo-contacto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#contacto{
    background-image: url("../images/fondo-contacto.png");
    background-size: 100%;
    background-repeat: no-repeat;
}


#proyectos{
    background-image: url("../images/fondo-proyectos.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#proyectos h2{
    font-size: 16px;
    color: white;
}


#proyectos img{
    height: 210px;
    background-color: white;
    padding: 0px;
}


#inicio .cohete{
    height: 400px;
}

#inicio .cohete:hover{
    height: 405px;
    cursor:pointer;
}

#inicio p{
    font-size: 25px;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 600;
}

#inicio .boton{
    background-color:whitesmoke;
    padding:5px 6px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-decoration: none;
    color: red;
}



.gradiente{
    padding: 16px 12px;
    background: rgba(184,37,20,1);
    background: -moz-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(184,37,20,1)), color-stop(47%, rgba(214,52,30,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(240,47,23,1)));
    background: -webkit-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -o-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: -ms-linear-gradient(left, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    background: linear-gradient(to right, rgba(184,37,20,1) 0%, rgba(214,52,30,1) 47%, rgba(240,47,23,1) 70%, rgba(240,47,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82514', endColorstr='#f02f17', GradientType=1 );
}


.bloque p{
    height: 90px;
}


@media(max-width: 750px) {
    #contacto{
        background-image: url("../images/fondo-proyectos.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #inicio{
        background-image: url("../images/fondo-proyectos.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #contacto footer{
        color: red;
        font-weight: 300;
    }
    #contacto footer a{
        color: red;
        font-weight: 300;
    }

    nav .nav-link{
        color: #282828;
        padding-left: 30px !important;
    }
    
    .fa-whatsapp{
        right: 0px;
    }
    
}